<h1> Gabble! </h1>
<h2> logged in as: {{username}} </h2>
<a href="user/newPost">create a new gabble</a>

<div class = "gabble-container">
{{#gabbles}}
<div class = "gabble">
<div class = "gbody">
<h3> {{user}}: {{body}} </h3>
<h5> {{likes}} </h5>

</div>
<div class = "time">
<p class = "timestamp>">Gabbed at: {{createdAt}}</p>
</div>
 <a href="/user/destroy/{{id}}">Delete</a> <br>
 <form class="like-button" action="/user/likes/{{id}}" method="post">
  <a href = "/user/likes/{{id}}">View</a>
  
  <button type="submit" name="button">Like</button>
  </form>
  <br>
</div>
{{/gabbles}}
</div>