<h1> Gabble! </h1>
<a href="user/newPost">create a new gabble</a>
{{username}}
{{name}}
{{#gabbles}}

{{body}} <br>
<br>
{{user}}<br>
<br>
 <a href="user/destroy/{{id}}">Delete</a> <br>
  <br>

{{/gabbles}}